[Unit]
Description=Mkdocs Service
After=network.target
Wants=network.target

[Service]
Type=simple
ExecStart=/usr/bin/mkdocs serve -f /srv/Tutorials/mkdocs.yml 
Restart=on-failure
StartLimitInterval=0

[Install]
WantedBy=multi-user.target
